
<ion-content>
  <ion-list>
    <ion-item (click)="translateEnglish()">
        <div class="itemsDiv">
          <span class="flag-icon flag-icon-gb"></span>
          <ion-label>{{'Languages.English' | translate}}</ion-label>
        </div>
    </ion-item>
    <ion-item (click)="translateSpanish()">
      <div class="itemsDiv">
        <span class="flag-icon flag-icon-es"></span>
        <ion-label>{{'Languages.Spanish' | translate}}</ion-label>
      </div>
    </ion-item>
  </ion-list>
  </ion-content>
  