ion-content{
    height: 100%;
    ion-list{
        height: 100%;
        padding-top: 8px;
        padding-bottom: 0px;
        margin: 0px;
        ion-item{
          .itemsDiv{
            display: flex; 
            flex-direction: row;
            ion-label{
                padding-left: 15px;
            }
          }

        }
    }
}