
  
ion-content{
    ion-slides{
        height: 100%;
        --bullet-background-active: black;
        --bullet-background: black;
        --scroll-bar-background-active: transparent;
        --scroll-bar-background: none;
        
        ion-slide{
            ion-grid{
                ion-row{
                    justify-content: center;
                    align-items: center;
                    ion-col{
                    ion-card{
                        box-shadow: none;
                        background-color: transparent;
                        ion-card-header{
                            padding: 16px 0px 16px 0px;
                            ion-card-title{
                                color: #535252;
                                font-family: sans-serif;
                                font-size: 24px;
                                font-weight: bold;
                            }
                        }
                        ion-card-content{
                            color: #535252;
                            font-family: sans-serif;
                            font-size: 16px;
                        }
                    }
                    }
                }
                
                ion-button{
                    position:absolute;
                    bottom:40px;
                    z-index: 10;
                }
            }
        
        }
    }
}
