<ion-content class="tutorial">
  <ion-slides mode="ios" pager="ios" scrollbar="ios"  [options]="slideOpts">
    <ion-slide>
      <ion-grid fixed>
        <ion-row> 
          <ion-col size-xs="10" size-sm ="10"  size-md="8" size-lg="8"  size-xl="8" >
            <img src='assets/images/Page1.png'/>
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{'Tutorial.Titles.Welcome' | translate}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{'Tutorial.Body.Welcome' | translate}}
              </ion-card-content>
            </ion-card>
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid fixed>
        <ion-row > 
          <ion-col size-xs="10" size-sm ="10"  size-md="8" size-lg="8"  size-xl="8" >
            <img src='assets/svgs/Page2.gif'/>
            <ion-card style="margin-bottom: 94px;">
              <ion-card-header>
                <ion-card-title>{{'Tutorial.Titles.Browse' | translate}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{'Tutorial.Body.Browse' | translate}}
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid fixed>
        <ion-row> 
          <ion-col size-xs="10" size-sm ="10"  size-md="8" size-lg="8"  size-xl="8" >
            <img src='assets/svgs/Page3.gif'/>
            <ion-card  style="margin-bottom: 64px;">
              <ion-card-header>
                <ion-card-title>{{'Tutorial.Titles.Locate' | translate}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{'Tutorial.Body.Locate' | translate}}
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-button (click)="grantPermission()"   shape="round" color="dark">
            {{'Tutorial.Button.Start' | translate}}
          </ion-button>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>


<!--
                  <div class="info-div">
                      <a href="https://promocat.flycricket.io/privacy.html" >MORE INFORMATION</a>
                 </div>
                
-->