ion-header{
    height: 30%;
    background-image: linear-gradient(to top, #ffce00, #ffd500, #ffdb00, #ffe200, #ffe900);
    position: relative;
    box-shadow: none;
    border: none;
   border-bottom-left-radius: 30px !important;
   border-bottom-right-radius: 30px !important;
   overflow: hidden;
    ion-toolbar{
        box-shadow: none;
        border: transparent;
        margin-top: 20px;
        border-bottom-left-radius: 30px !important;
        border-bottom-right-radius: 30px !important;
        ion-title{
            color: white;
            font-weight: bold;
            font-size: 24px;
            text-shadow: 1.5px 1.5px rgba(20, 20, 20, 0.192);
            font-family: sans-serif;
        }
        ion-icon{
            text-shadow: 1.5px 1.5px rgba(20, 20, 20, 0.192);

        }
    }

}

    ion-content{
        transform: translate(5.4%);
        background-color: white;
        position: absolute;
        z-index: 99;
        top: 18vh;
        width: 90%;
        border-radius: 30px;
        overflow: hidden;
    ion-card{
        border-radius: 30px;
        margin: 0px;
        height: 100%;     
      
        ion-card-content{
            padding: 0px;
            height: 100%;
            ion-list{
                height: 100%;
                overflow-y: scroll;
                ion-card-title{
                    margin-bottom: 20px;
                    margin-top: 20px;
                    padding-left: 20px;

                }
                ion-item{
                    margin-bottom: 20px; 
                
                    ion-icon{
                        padding-left: 20px;
                    }
                    p{
                        overflow-x: scroll;
                    }

                }
            }
        }
    
  
}
    }