<ion-header mode="md">
    <ion-toolbar color="danger"  mode="ios">
      <ion-buttons slot="start">
          <ion-button (click)="dismissModal()" mode="ios" color="primary">
            <ion-icon slot="start" name="arrow-back" mode="ios"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title mode="ios">{{'SETTINGS.settings' | translate}}</ion-title>
      </ion-toolbar>
  </ion-header>
<ion-content  class="settingCss-Class">

<ion-card >
  <ion-card-content>
    <ion-list lines="full">
          <ion-card-title color="warning" >{{'SETTINGS.preference' | translate}}</ion-card-title> 
          <ion-item no-padding (click)="countrySelect()" style="margin-bottom: 30px;">
            <ion-thumbnail slot="end" style="height: 20px; width: 24px;">
              <img src="{{source}}">
            </ion-thumbnail>
        <ion-card-subtitle mode="md"><h2>{{'SETTINGS.changeRegion' | translate}}</h2></ion-card-subtitle>
        <ion-icon name="globe" slot="start" mode='md' color ='tertiary'></ion-icon>
      </ion-item>
      <ion-item no-padding (click)="presentPopover()" style="margin-bottom: 30px;">
        <ion-icon slot="start" name="language-outline" color="tertiary"></ion-icon>
          <ion-card-subtitle mode="md"><h2>{{'SETTINGS.changeLanguage' | translate}}</h2></ion-card-subtitle>
        </ion-item>
      
      <ion-card-title color="warning" >{{'SETTINGS.help' | translate}}</ion-card-title> 
      <ion-item no-padding (click)="shareSocailMedia()" mode="md">
      <ion-card-subtitle mode="md" style="margin-bottom: 10px !important;margin-top: 10px !important;">
      <h2>{{'SETTINGS.recommendUs' | translate}}</h2></ion-card-subtitle>
      <ion-icon name="ribbon" slot="start" mode='ios' color ='tertiary'></ion-icon>
      </ion-item>

      <ion-item no-padding (click)="rateUs()" mode="md">
      <ion-card-subtitle mode="md" style="margin-bottom: 10px !important;margin-top: 10px !important;">
      <h2>{{'SETTINGS.rateOnGoogle' | translate}}</h2></ion-card-subtitle>
      <ion-icon name="star" slot="start" mode='ios' color ='tertiary'> </ion-icon>
      </ion-item>

      <ion-item no-padding mode="md">
      <ion-card-subtitle mode="md" style="margin-bottom: 10px !important;margin-top: 10px !important;">
        <h2>{{'SETTINGS.version' | translate}}</h2> 
        <ion-card-subtitle mode='ios'> 0.49</ion-card-subtitle>
      </ion-card-subtitle>
      <ion-icon name="phone-portrait" slot="start" mode='ios' color ='tertiary'></ion-icon>
      </ion-item>
      <ion-item no-padding mode="md">
      <ion-card-subtitle mode="md" style="margin-bottom: 10px !important;margin-top: 10px !important;">
        <h2>{{'SETTINGS.userId' | translate}}</h2>
        <ion-card-subtitle style="overflow: hidden;"  mode='ios'>{{shortId}}</ion-card-subtitle>
      </ion-card-subtitle>
      <ion-icon name="person" slot="start" mode='ios' color ='tertiary'></ion-icon>
      </ion-item>

  </ion-list>
</ion-card-content>
</ion-card>
</ion-content>

