<ion-header>
  <ion-toolbar>
    <ion-title>Search </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon  name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="searchbar-div">
    <ion-segment (ionChange)="segmentChanged($event)" value ="0"  mode="ios" >
      <ion-segment-button checked value="0" >
        <ion-label> Catalogs</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>Products</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-searchbar class="searchbar" animated mode='md'  placeholder="{{'HOME.placeholder' | translate}}" [(ngModel)]="searchText"  style="text-align: left;"
    *ngIf="segment == 0" >
    </ion-searchbar>
    <ion-searchbar animated mode='md' debounce='300'  placeholder="{{'HOME.product-placeholder' | translate}}" [(ngModel)]="searchText"  style="text-align: left;"
      *ngIf="segment == 1">
    </ion-searchbar>
  </div>
</ion-header>

<ion-content>
<ion-grid fixed>
  <!-- Row that sugegsts brands -->
  <ion-row *ngIf="segment == 0 && allCatalogs; let list" class="brands-row" >
    <ion-col size-xs="11"  size-sm ="11"  size-md="11" size-lg="11"  size-xl="10">
      <ion-chip *ngFor="let brand of brands" (click)="filterBrand(brand)" color="dark"> 
        <ion-avatar>
          <img src="{{brand.img}}">
        </ion-avatar>
        <ion-label color="dark">{{brand.name}}</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="searchText != '' " class="product-length-row">
    <ion-col size-xs="11"  size-sm ="11"  size-md="11" size-lg="11"  size-xl="10">
      <p><strong>{{(allCatalogs | filterado: searchText : 'Name')?.length}}</strong> {{'HOME.catalogs'| translate }}</p>
    </ion-col>
  </ion-row>
  <ion-row class="content-row" *ngIf="searchText !=='' && allCatalogs; let list">
    <ion-col size-xs="6"  size-sm ="4"  size-md="4" size-lg="4"  size-xl="6"
    *ngFor="let item of list | filterado: searchText : 'Name';let i = index">
        <ion-card (click)="openCatViewModal(item);" class="card"> 
            <div  class="badge-new">
                <ion-badge color="warning" mode="ios" slot="end" *ngIf="!showNew && item.status === 'New'"
                class="animated infinite pulse " >{{'newCatalog.word' | translate}}</ion-badge>
            </div>
            <div class="badge-expire">
              <ion-badge mode="ios" color="danger" slot="warning" *ngIf="!showNew && item.dayCounter <= 1"
                  class="animated infinite pulse" >{{'expiresSoon.word'| translate }}</ion-badge>
            </div>
              <img class="filtered-image" src="{{item.URL}}"/>
        </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
