
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ion-header{
    background-color: #ffe400;

    ion-toolbar{
        --background: transparent;
    }

    ion-button{
        --background: transparent;
        --box-shadow: none;
        --border-color: transparent;
        --ripple-color: transparent;
        --padding-start: 0px;
        ion-icon{
            color: white;
        }
    

    }

    /* ... SEARCH BAR DIV ...  */
    .searchbar-div{
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    /* ...SEARCH BAR */
    ion-searchbar{
        width: 80%;
        padding: 0px; 
        padding-bottom: 4vw;
        padding-top: 2vw;

    }

    ion-segment{
        height: 6vh;
        width: 78%;
        //--background:transparent;
        ion-segment-button{
            --indicator-color: rgba(0, 0, 0, 0.144);
            --color-checked: black;
        }
    }

}

ion-content{

    ion-grid{
        height: 100%;
    }
         /* ... SUGGESTED BRANDS ROW ... */
         .brands-row{
            justify-content: center;
                ion-col {
                    text-align: left;
                    padding: 0px;

                    ion-avatar{
                        padding-left: 2px;
                    }
                
                }
           } 

           /* ... Length of Catalogs ... */
           .product-length-row{
               p{
                   color: black;
               }
           }
}




/*  ........................................SCREEN SIZE WIDTH 1000PX - 1200PX .............................................. */
@media screen and (min-width: 1001px) and (max-width: 1200px) {

    ion-header{
        ion-toolbar{
            --min-height: 10vh;

            ion-title{
                font-size: 2.7rem;
            }

            ion-buttons{
                padding-left: 10px;
                ion-button{
                    ion-icon{
                        zoom: 2.2;
                    }
                }
            }
        }

       .searchbar-div{

            padding: 30px 0px 15px 0px;

            ion-segment {
                ion-label{
                    font-size: 2.4rem;
                }
            }
       }
    }

    ion-content{

        /* Catalog card */
        .card{
            img{
                height: 440px;
                width: 100%;
            }
        }

        ion-chip{
            height: 5vh;
            padding: 26px;
            margin: 10px;
            border-radius: 500px;
            ion-label{
                font-size: 2rem;
            }

            ion-avatar{
                min-width: 3vh;
                min-height: 3vh;
            }
            
        }

        .product-length-row {
            p {
                font-size: 2rem;
                padding: 10px 0px 0px 10px;
            }
        }
    }

}

/*  ........................................SCREEN SIZE WIDTH 701PX - 1000PX .............................................. */
@media screen and (min-width: 701px) and (max-width: 1000px) {
   

    ion-header{
        ion-toolbar{
            --min-height: 8vh;
    
            ion-title{
                font-size: 2.1rem;
            }
    
            ion-button{
                ion-icon{
                    zoom: 2.0;
                }
            }
        }

        .searchbar-div{
            padding: 30px 0px 15px 0px;
            ion-segment {
                ion-label{
                    font-size: 1.8rem;
                }
            }
       }
    }

    ion-content{

          /* Catalog card */
          .card{
            img {
                height: 292px;
                width: 100%;
            }
        }

        ion-chip{
            height: 4vh;
            padding: 26px;
            margin: 10px;
            border-radius: 500px;
            ion-label{
                font-size: 1.6rem;
            }

            ion-avatar{
                min-width: 3vh;
                min-height: 3vh;
            }
            
        }

        .product-length-row {
            p {
                font-size: 1.6rem;
                padding: 10px 0px 0px 10px;
            }
        }
    }


}

/*  ........................................SCREEN SIZE WIDTH 401 PX - 700 PX.............................................. */
@media screen and (min-width: 401px) and (max-width: 700px)  {
    
    ion-header{
        ion-toolbar{
            --min-height: 8vh;
    
            ion-title{
                font-size: 1.6rem;
            }
    
            ion-button{
                ion-icon{
                    zoom: 1.5;
                }
            }
        }

        .searchbar-div{
            padding: 15px 0px 0px 0px;
       }
    }

    ion-content {

          /* Catalog card */
          .card{

            img{
                height: 210px;
                width: 100%;
            }
        }

        .product-length-row {
            p {
                padding: 10px 0px 0px 10px;
            }
        }
    }


}

/*  ........................................SCREEN SIZE WIDTH 349 PX - 400 PX.............................................. */
@media screen and (min-width: 349px) and (max-width: 400px)  {

    ion-header{
        ion-toolbar{
            --min-height: 8vh;
    
            ion-title{
                font-size: 1.4rem;
            }
    
            ion-button{
                ion-icon{
                    zoom: 1.3;
                }
            }
        }

        .searchbar-div{
            padding: 15px 0px 0px 0px;
       }
    }

    ion-content {

          /* Catalog card */
          .card{
            img{
                height: 195px;
                width: 100%;
            }
        }


        .product-length-row {
            p {
                padding: 10px 0px 0px 10px;
            }
        }
    }
  

}


/*  ........................................SCREEN SIZE WIDTH 200 PX - 348 PX.............................................. */
@media screen and (min-width: 200px) and (max-width: 348px) {
    
    ion-header {
        ion-toolbar{
            --min-height: 8vh;
    
            ion-title{
                font-size: 1rem;
            }
    
            ion-button{
                ion-icon{
                    zoom: 1.1;
                }
            }
        }

        .searchbar-div{
            padding: 15px 0px 0px 0px;
       }
    }

    ion-content {

        ion-chip{
            ion-label{
                font-size: 0.7rem;
            }
        }

          /* Catalog card */
          .card{
            img{
                height: 170px;
                width: 100%;
            }
        }

        .product-length-row {
            p {
                font-size: 0.8rem;
                padding: 10px 0px 0px 10px;
            }
        }
    }
}


