
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ion-header{
    background-color: #ffe400;

    ion-toolbar{
        --background: transparent;
    }

    ion-button{
        --background: transparent;
        --box-shadow: none;
        --border-color: transparent;
        --ripple-color: transparent;
        --padding-start: 0px;
        ion-icon{
            color: white;
        }
    

    }
}

ion-tab-bar{
    background-color: white;
    ion-tab-button{
        background-color: transparent;
        --background-focused: #fcc900;
        --color-selected: #fcc900;
    }
}

/*  ........................................SCREEN SIZE WIDTH 1000PX - 1200PX .............................................. */
@media screen and (min-width: 1001px) and (max-width: 1200px) {

    ion-header{
        ion-toolbar{
            --min-height: 10vh;
    
            ion-title{
                font-size: 2.7rem;
            }
    
            ion-button{
                ion-icon{
                    zoom: 2.3;
                }
                .search-icon{
                    --padding-end: 4px
                }
            }
        }
    }

    ion-tab-bar{
        height: 7vh;
        ion-icon{
            zoom: 1.5;
        }
        ion-label{
            font-size: 2em;
            padding-top: 2px;
        }
    }
}

/*  ........................................SCREEN SIZE WIDTH 701PX - 1000PX .............................................. */
@media screen and (min-width: 701px) and (max-width: 1000px) {
   

    ion-header{
        ion-toolbar{
            --min-height: 8vh;
    
            ion-title{
                font-size: 2.1rem;
            }
    
            ion-button{
                ion-icon{
                    zoom: 2.0;
                }
            }
        }
    }


    ion-tab-bar{
        ion-tab-button{
            padding: 2px;
        }
        height: 8vh;
        ion-icon{
            zoom: 1.4;
        }
        ion-label{
            font-size: 1.8em;
            padding-top: 1px;
        }
    }
}

/*  ........................................SCREEN SIZE WIDTH 401 PX - 700 PX.............................................. */
@media screen and (min-width: 401px) and (max-width: 700px)  {
    
    ion-header{
        ion-toolbar{
            --min-height: 8vh;
    
            ion-title{
                font-size: 1.6rem;
            }
    
            ion-button{
                ion-icon{
                    zoom: 1.5;
                }
            }
        }
    }


    ion-tab-bar{
        ion-tab-button{
            padding: 2px;
        }
 
        ion-icon{
            zoom:0.9;
        }
        ion-label{
            font-size: 1.1em;
            padding-top: 1px;
        }
    }
}

/*  ........................................SCREEN SIZE WIDTH 349 PX - 400 PX.............................................. */
@media screen and (min-width: 349px) and (max-width: 400px)  {

    ion-header{
        ion-toolbar{
            --min-height: 8vh;
    
            ion-title{
                font-size: 1.4rem;
            }
    
            ion-button{
                ion-icon{
                    zoom: 1.3;
                }
            }
        }
    }

   
    ion-tab-bar{

        ion-tab-button{
            padding-bottom: 2px;
        }

    
        ion-icon{
            zoom:0.8;
        }
        ion-label{
            font-size: 0.9em;
            padding-top: 1px;
        }
    }
}


/*  ........................................SCREEN SIZE WIDTH 200 PX - 348 PX.............................................. */
@media screen and (min-width: 200px) and (max-width: 348px) {
    
    ion-header{
        ion-toolbar{
            --min-height: 8vh;
    
            ion-title{
                font-size: 1.2rem;
            }
    
            ion-button{
                ion-icon{
                    zoom: 1.1;
                }
            }
        }
    }

    ion-tab-bar{
        ion-icon{
            zoom: 0.7;
        }
        ion-label{
            font-size: 1em;
            padding-top: 2px;
        }
    }
}


