<ion-header class="ion-no-border" >
  <ion-toolbar mode="md">
    <ion-title>PROMOCAT</ion-title>
    <ion-button slot="end" (click)="openSettings()">
      <ion-icon name="ellipsis-vertical" slot="end"  mode='md'></ion-icon>
   </ion-button> 
   <ion-button slot="secondary" (click)="openSearch()"  class="seach-icon">
    <ion-icon name="search-outline" slot="end"  mode='md'></ion-icon>
 </ion-button> 
  </ion-toolbar>
</ion-header>
<ion-content>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="catalogs">
      <ion-icon  name="newspaper-outline"></ion-icon>
      <ion-label>{{'HOME.activeCatalogs' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="categories">
      <ion-icon  name="apps-outline" ></ion-icon>
      <ion-label>{{'HOME.categoryTab' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="products">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Products</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="brands">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Brands</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>