<ion-header class="ion-no-border">
  <ion-toolbar  mode="md">
    <ion-buttons slot="start" >
      <ion-button (click)="dismissModal()" class="back-button" >
        <ion-icon slot="start" color="primary" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" >
      <ion-button (click)="takeMeToLocation(name)"class="back-button" >
        <ion-icon name="location-sharp" mode="md" color="primary" style="zoom: 1.3;"></ion-icon>      </ion-button>
    </ion-buttons>
    <div class="title-div">
      <ion-title>{{name}}</ion-title>
      <p class="catalog-dates">{{stringStartDate}} - {{stringEndDate}}</p>
    </div>
  </ion-toolbar>

</ion-header>
<ion-content class="main-content">
    <ion-slides mode="ios" *ngIf="pdfPages && pdfPages.length > 0; else nothing" pager="ios"  [options]="sliderOpts">
      <ion-slide *ngFor="let item of pdfPages">
        <img src="{{item.url}}" alt="">
      </ion-slide>      
  </ion-slides>
  <ion-fab vertical="bottom" horizontal="end" >
    <ion-fab-button color="success" style="opacity: 0.8;" (click)="toggleLikeState()">
      <ion-icon [@heart]="likeState" [name]="iconName"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>


