*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ion-header{
    border: none;
    box-shadow: none;
    background-color:  #ffe400;
    /* ... GENERAL RULES FOR THE ION LIST...  */ 
    ion-toolbar{
       --background: transparent;
       ion-title{
           padding: 10px;
       }
       p{
           margin: 0 0 20px 0;
       }
    }
}
ion-content{
    ion-slides{
        height: 100%;
        margin: 0px;
        
    }

}
ion-footer{
    ion-toolbar{
        --background: white;
    }
}


/*  ...........................................401 PX - 700 PX............................................................... */

@media screen and (min-width: 401px) and (max-width: 700px) {

    ion-list{
        .name{
            height: 16px;
        }
        .date{
            font-size: 14px;
        }
        ion-buttons{
            margin: 0px 2px 0px 0px; 
            .icons{
                height: 20px;
                width: 20px;
            }
            .location{
                height: 50px;
                width: 30px;
            }
        }
    }

    ion-fab{
        ion-fab-button{
            ion-icon{
                height: 40px;
                width: 30px;
            }
        
        }
    }
}