<!-- Header-->
<ion-header  no-border>
  <ion-toolbar color="danger" >   
    <ion-title style="font-weight: bold">{{transName | translate}}</ion-title>
    <ion-button  slot="start" (click)="dismissModal()" fill class="back-button"  >
      <ion-icon name="arrow-back-outline" color="primary" slot="end"  ></ion-icon>
   </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <!-- Catalogs row -->
  <ion-row class="catalog-row" *ngIf="arrayCategory && arrayCategory.length > 0 ; else nothing">
    <ion-col size-xs="6"  size-sm ="4"  size-md="4" size-lg="4"  size-xl="6" *ngFor="let item of arrayCategory">
      <ion-card (click)="openCatViewModal(item)" class="catalog-row-card">
        <div class="badge-new">
          <ion-badge mode="ios" color="warning" slot="end" *ngIf="item.status === 'New'"
            class="animated infinite pulse" >{{'newCatalog.word' | translate}}</ion-badge>
        </div> 
        <div class="badge-expire">
          <ion-badge mode="ios" color="dark" slot="warning" *ngIf="item.status === 'Expires'"
              class="animated infinite pulse" >{{'expiresSoon.word'| translate }}</ion-badge>
        </div>     
       <ion-card-header>
        <img class="catalog-row-image" src="{{item.URL}}"/> 
       </ion-card-header>
       <ion-card-content>
         <ion-title>{{item.Name}}</ion-title>
         <div class="catalog-likes">
           <p>{{item.Likes}}</p>
          <ion-icon slot="start" name="heart" color="warning"></ion-icon>
         </div>
       </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>
<ng-template #nothing>
    
  <div  class="template-class">
    <ion-icon slot="start" name="newspaper-outline" size="large"></ion-icon>
      <h3>{{'HOME.noCatalogs' | translate }}</h3>
      <p>{{'HOME.noCatalogsText' | translate}}</p>
  </div>
</ng-template>
