*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ion-header{
    border: none;
    box-shadow: none;
    background-color:  #ffe400;

    /* ...ION TOOLBAR ... */
    ion-toolbar{
        --border-width:0px;
        ion-title{
            font-weight: bold;
            font-size: 4.8vw;   
         }
         .back-button{
            --background: transparent;
            margin-left: 0px;
         
         }
    }
}


 .template-class{
     
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;

}

    /* ... BADGE FOR EXPIRED CATALOGS ...*/
    .badge-expire{
        justify-content: center;
        position: absolute; 
        width: 100%;
        display: flex;
        justify-content: flex-end;
        z-index: 99;
        ion-badge{
            color: #ffe400;
            background-color: #000000d0; 
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            border-top-left-radius: 10vw;
            border-bottom-left-radius: 10vw;
        
        }
    }

    /* ... BADGE FOR NEW CARDS ... */
    .badge-new{
        justify-content: center;
        position: absolute; 
        width: 100%;
        display: flex;
        justify-content: flex-end;
        z-index: 99;
        ion-badge{
            color: black;
            background-color: #ffe600e7; 
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            border-top-left-radius: 10vw;
            border-bottom-left-radius: 10vw;
        }
    }




     /* ...... CATALOGS ROW ......*/
     .catalog-row{
        margin-top: 0px;
        margin-bottom: 0px;
        ion-col{
            ion-card{
                background-color: transparent;
                position: relative;
                ion-card-header{
                    padding: 0px;
                }
                ion-card-content{
                    padding: 0px;
                    color: #999999;
                    display: flex;
                    flex-direction: row;
                    ion-title{
                        padding-right: 0px;
                        text-align: left;
                        padding-bottom: 4px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    .catalog-likes{
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                    }
                }
            }


        }
    }
/* ...... ION FOOTER ...... */
ion-footer{
    background-color: transparent;

    ion-toolbar{
        --background:transparent;
        --border-width: 0px;
    }
}
 /*  ................................................... 1000px X 1200px .................................................. */
@media screen and (min-width: 1001px) and (max-width: 1200px) {
 
    /* ...... ION HEADER ...... */
    ion-header{
        ion-toolbar{
            padding: 30px 20px;

            ion-icon{
                height: 50px;
                width: 50px;
                padding-top: 7px;
            }
        }
    }

    /* ION BADGE FOR EXPIRED OR NEW CATALOGS */
    ion-badge{
        padding: 0vw 2vw;
        font-size: 2.5vw;   
        height: 6vw;
    }

   /* ......ALL CATALOGS ROW...... */

        /* ...CATALOG ROW... */
        .catalog-row {
            padding-bottom: 20px;
            padding-top: 40px;
            /* ...ION CARD IN CATALOG ROW... */
            .catalog-row-card{
                height: 500px;

                /* ... CATALOG IMAGE ...*/
                .catalog-row-image{
                    height: 440px;
                    width: 100%;
                }

                /* ... ION CARD CONTENT SECTION ... */
                ion-card-content{
                    height: 60px;
                    ion-title{
                        padding-left: 10px;
                        width: 60%;
                        font-size: 30px;
                    }
                    /* ... DIV FOR ICON AND NUMBER OF LIKES */
                    .catalog-likes{
                        width: 40%;
                        padding-right: 6px;
                        p {
                            font-size: 26px;
                            padding-right: 4px;
                            line-height: 60px;
                        }
                        ion-icon{
                            height: 60px;
                            width: 34px;
                            padding-left: 4px;
                            line-height: 60px;
                        }
                    }
                }

            }
       }

       /* ...... TEMPLATE ...... */
       .template-class{
            ion-icon{
                color: rgb(152,152,142);
                padding-bottom: 10px;
                height: 100px;
                width: 100px;
            }
            p, h3{
                margin: 0px;
                color: rgb(152,152,152);
                font-size: 26px;
            }
       }

}


/*  ................................................... 701 PX - 1000 PX.................................................. */
@media screen and (min-width: 701px) and (max-width: 1000px) {
 
    /* ...... ION HEADER ...... */
    ion-header{
        ion-toolbar{
            padding: 30px 20px;

            ion-icon{
                height: 50px;
                width: 50px;
                padding-top: 7px;
            }
        }
    }

    /* ION BADGE FOR EXPIRED OR NEW CATALOGS */
    ion-badge{
        padding: 0vw 2vw;
        font-size: 2.5vw;   
        height: 6vw;
    }

    /* ...CATALOG ROW... */
    .catalog-row {
        padding-bottom: 20px;

        /* ...ION CARD IN CATALOG ROW... */
        .catalog-row-card{
            height: 340px;

            /* ... CATALOG IMAGE ...*/
            .catalog-row-image{
                height: 292px;
                width: 100%;
            }

            /* ... ION CARD CONTENT SECTION ... */
            ion-card-content{
                height: 48px;
                ion-title{
                    padding-left: 10px;
                    width: 60%;
                    font-size: 22px;
                }

                /* ... DIV FOR ICON AND NUMBER OF LIKES */
                .catalog-likes{
                    width: 40%;
                    padding-right: 4px;
                    p {
                        font-size: 22px;
                        padding-right: 4px;
                        line-height: 48px;
                    }
                    ion-icon {
                        height: 48px;
                        width: 28px;
                        padding-left: 0px;
                        line-height: 60px;
                    }
                }
            }
        }

    }
       /* ...... TEMPLATE ...... */
       .template-class{
            ion-icon{
                color: rgb(152,152,142);
                padding-bottom: 10px;
                height: 90px;
                width: 90px;
            }
            p, h3{
                margin: 0px;
                color: rgb(152,152,152);
                font-size: 24px;
            }
       }

}
/*  ................................................... 401 PX - 700 PX.................................................. */
@media screen and (min-width: 401px) and (max-width: 700px) {
 
    /* ...... ION HEADER ...... */
    ion-header{
        ion-toolbar{
            padding: 12px 0px;

            ion-icon{
                margin: 0px;
            }
            ion-title{
                font-size: 24px;
                padding-left: 4px;
            }
        }
    }

    /* ION BADGE FOR EXPIRED OR NEW CATALOGS */
    ion-badge{
        padding: 0vw 2vw;
        font-size: 2.5vw;   
        height: 6vw;
    }

   
        /* ...CATALOG ROW... */
        .catalog-row {
            padding-bottom: 20px;
         
            /* ...ION CARD IN CATALOG ROW... */
            .catalog-row-card{
                height: 270px;
                margin: 10px;

                 /* ... CATALOG IMAGE ...*/
                .catalog-row-image{
                    height: 230px;
                    width: 100%;
                }

                /* ... ION CARD CONTENT SECTION ... */
                ion-card-content{
                    height: 40px;

                    ion-title{
                        padding-left: 6px;
                        width: 60%;
                        font-size: 16px;
                        line-height: 40px;
                    }
                 
                    /* ... DIV FOR ICON AND NUMBER OF LIKES */
                    .catalog-likes{
                        width: 40%;
                        padding-right: 4px;
                        p {
                            font-size: 16px;
                            padding-right: 4px;
                            line-height: 36px;
                        }
                        ion-icon {
                            height: 36px;
                            width: 20px;
                            padding-left: 0px;
                            line-height: 36px;
                        }
                    }

                }

            }

         }
       /* ...... TEMPLATE ...... */
       .template-class{
            ion-icon{
                color: rgb(152,152,142);
                padding-bottom: 10px;
                height: 58px;
                width: 58px;
            }
            p, h3{
                margin: 0px;
                color: rgb(152,152,152);
                font-size: 15px;
            }
       }

}


/*  ................................................... 349 PX - 400 PX.................................................. */
@media screen and (min-width: 349px) and (max-width: 400px) {
 
    /* ...... ION HEADER ...... */
    ion-header{
        ion-toolbar{
            padding: 8px 0px;

            ion-icon{
                margin: 0px;
            }
            ion-title{
                font-size: 24px;
                padding-left: 4px;
            }
        }
    }

    /* ION BADGE FOR EXPIRED OR NEW CATALOGS */
    ion-badge{
        padding: 0vw 2vw;
        font-size: 2.5vw;   
        height: 6vw;
    }

        /* ...CATALOG ROW... */
        .catalog-row {
            padding-bottom: 10px;

             /* ...ION CARD IN CATALOG ROW... */
             .catalog-row-card{
                height: 255px;
                margin: 8px;

                /* ... CATALOG IMAGE ...*/
                .catalog-row-image{
                    height: 220px;
                    width: 100%;
                }

                /* ... ION CARD CONTENT SECTION ... */
                ion-card-content{
                    height: 35px;
                    ion-title{
                        padding-left: 10px;
                        width: 60%;
                        font-size: 15px;
                        line-height: 35px;
                    }

                    /* ... DIV FOR ICON AND NUMBER OF LIKES */
                    .catalog-likes{
                        width: 40%;
                        padding-right: 4px;
                        p {
                            font-size: 15px;
                            padding-right: 4px;
                            line-height: 31px;
                        }
                        ion-icon {
                            height: 31px;
                            width: 18px;
                            padding-left: 0px;
                            line-height: 31px;
                        }
                    }
                }

             }

        }
       /* ...... TEMPLATE ...... */
       .template-class{
            ion-icon{
                color: rgb(152,152,142);
                padding-bottom: 10px;
                height: 58px;
                width: 58px;
            }
            p, h3{
                margin: 0px;
                color: rgb(152,152,152);
                font-size: 15px;
            }
       }

}


/*  ................................................... 200 PX - 348 PX.................................................. */
@media screen and (min-width: 200px) and (max-width: 348px)  {
 
    /* ...... ION HEADER ...... */
    ion-header{
        ion-toolbar{
            padding: 8px 0px;

            ion-icon{
                margin: 0px;
            }
            ion-title{
                font-size: 20px;
                padding-left: 4px;
            }
        }
    }

    /* ION BADGE FOR EXPIRED OR NEW CATALOGS */
    ion-badge{
        padding: 0vw 2vw;
        font-size: 2.5vw;   
        height: 6vw;
    }

     /* ...CATALOG ROW... */
     .catalog-row {
        padding-bottom: 10px;

         /* ...ION CARD IN CATALOG ROW... */
        .catalog-row-card{
            height: 210px;
            margin: 8px;
            
            /* ... CATALOG IMAGE ...*/
            .catalog-row-image{
                height: 180px;
                width: 100%;
            }

            /* ... ION CARD CONTENT SECTION ... */
            ion-card-content{
                height: 30px;
                ion-title{
                    padding-left: 5px;
                    width: 60%;
                    font-size: 11px;
                    line-height: 30px;
                }
                                    
                /* ... DIV FOR ICON AND NUMBER OF LIKES */
                .catalog-likes{
                    width: 40%;
                    padding-right: 4px;
                    p {
                        font-size: 11px;
                        padding-right: 2px;
                        line-height: 26px;
                    }
                    ion-icon {
                        height: 26px;
                        width: 14px;
                        padding-left: 0px;
                        line-height: 26px;
                    }
                }
            }

        }
    }


       /* ...... TEMPLATE ...... */
       .template-class{
            ion-icon{
                color: rgb(152,152,142);
                padding-bottom: 10px;
                height: 44px;
                width: 44px;
            }
            p, h3{
                margin: 0px;
                color: rgb(152,152,152);
                font-size: 12px;
            }
       }

}
/*  .....................IPHONE 11 PRO MAX, IPHONE 11 WIDTH: 414 PX -  HEIGHT:896PX.......................................... */

 /* Special case for iphone 11 because of the layout */
 @media screen and (width: 414px) and (height: 896px) {

    ion-header{
        ion-toolbar{
            padding: 18px 0px;
        }
    }
 }


/*  .....................IPHONE 11 PRO , IPHONE 11 WIDTH: 375PX -  HEIGHT:812PX.......................................... */

 /* Special case for iphone 11 because of the layout */
 @media screen and (width: 375px) and (height: 812px) {

    
    ion-header{
        ion-toolbar{
            padding: 18px 0px;
        }
    }
 }