
 <ion-content class="tutorial">
  <ion-grid fixed>
    <ion-row >
      <ion-col size-xs="10" size-sm ="10"  size-md="8" size-lg="8"  size-xl="8" >
        <ion-spinner name="lines" *ngIf="loadingSpinner" class="spinner" color="dark"></ion-spinner>
        <img src='assets/images/country-select.png'/>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{'regionSelection.title' | translate}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list >
              <ion-item (click)="loadCountryCatalogs(item)" *ngFor="let item of country" >
                  <img class="title-image" src="{{item.src}}" height="16px" width="16px" style="margin-right:10px" />
                  <ion-label color="dark ">{{item.name}}</ion-label>
                </ion-item>
             </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
 </ion-content>