ion-content{
    ion-grid{
        height: 100%;

        ion-row{
            height: 100%;
            justify-content: center;
            align-items: center;

            ion-col{
              
                .spinner{
                    display: block;
                    margin: auto;
                    transform: scale(2);  
                  }

                ion-card{
                    box-shadow:none;
                    border:transparent;
                    background-color: transparent;
                    ion-card-header{
                        text-align: center;
                        padding: 16px 0px;
                        ion-card-title{
                            font-size: 24px;
                            color: #535252;
                            font-family: sans-serif;
                        }
                    }
                    ion-card-content{
                        font-family: sans-serif;

                        padding: 0px;
                        ion-list{
                            background-color: transparent;
                          ion-item{
                            --background: white;
                            border-radius: 30px;
                            margin: 10px;
                            -webkit-box-shadow: 0px 12px 15px -8px rgba(0, 0, 0, 0.199); 
                            box-shadow: 0px 12px 15px -8px rgba(0,0,0,0.199); 
                            ion-label{
                                font-family: sans-serif;
                                color: #535252;
                            }

                            img{
                                height: 16px;
                                width:16px;
                                margin-right: 10px;
                            }
                          }
                        }
                    }
                }
            }
        }
    }
}
