/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "flag-icon-css/css/flag-icon.css";

ion-header{
    .header-background{
        backdrop-filter: blur(6px);

    }
}
// Search bar Css
ion-searchbar{
    --color:black !important;
 .searchbar-input{
    --border-radius:50px;   
    --background: white;
    --placeholder-color:black;
    font-size: 3.6vw !important;

    }
    @media screen and (min-width: 1001px) and (max-width: 1200px){
       .searchbar-input{
        padding-top: 24px !important;
        padding-bottom: 24px   !important;
        padding-left: 100px !important;
        padding-right: 0px !important;
       }

       ion-icon{
            width: 44px !important;
            height: 44px !important;
            padding-left:20px !important;
            padding-top: 14px !important;
        } 
        .searchbar-clear-icon{
            padding-right: 20px !important; 
          }
    } 
    @media screen and (min-width: 701px) and (max-width: 1000px) {

        .searchbar-input{
            padding-top: 22px !important;
            padding-bottom: 22px   !important;
            padding-left: 80px !important;
            padding-right: 0px !important;
           }
    
           ion-icon{
                width: 36px !important;
                height: 36px !important;
                padding-left:10px !important;
                padding-top: 12px !important;
            } 

            .searchbar-clear-icon{
                padding-right: 20px !important; 
            }
    } 

    @media screen and (min-width: 200px) and (max-width: 348px){
   
        .searchbar-input{
            padding-top: 4px !important;
            padding-bottom: 4px   !important;
            padding-left: 40px !important;
            padding-right: 0px !important;
           }
    
           ion-icon{
                width: 16px !important;
                height: 16px !important;
                padding-left:0px !important;
                padding-top: 0px !important;
            } 
        
    }
   
   
}
// Content Css
ion-content{
    --background: linear-gradient( 190deg , #ffe400 14%,#ffffff 45%);
    height: calc(100vh - 178px);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  
}

// catalog view modal css.
.modalCss{
    .modal-wrapper{
        height: 100%;
        width: 100%;
    }
}

// toast
.msgToastCss{
    
    --background: #373737d7;
    color: white;
    --border-radius: 30px;
    transform: translateY(-56px) !important;
    text-align: center;


}


.tutorial{
    --background: linear-gradient(to top, #ffce00, #ffd500, #ffee00, #ffee00, #fffb00);
}

.beginLoading{
    --width:100%;
  --height:100vh;
   .loading-wrapper{
    --background: linear-gradient(to top, #ffce00, #ffd500, #ffee00, #ffee00, #fffb00);
    box-shadow: none !important;
  --spinner-color: black;
  --max-width:100%;
  --max-height:100vh; 
   padding: 0px;
   --spinner-color: white;
   ion-spinner{
     transform: scale(2);
   }
}
}

.spinnerCss{
    --background:black;
    --spinner-color: #ffce00;
    opacity: .9 !important;
    --width:60px;
    --height:60px;
    ion-backdrop {
          background-color:  black;
          opacity: .9 !important;
      }
  }
  

  .header-md::after {
    display: none;
}
.footer-md::before{
    height: 0px;
}

.main-slides{
    min-height: 100%;

}
