
<ion-header class="ion-no-border">

  <ion-toolbar color="danger" mode="md"  class="ion-no-border">
    <ion-buttons slot="start" >
      <ion-button (click)="dismissModal()" class="back-button" >
        <ion-icon name="arrow-back-outline"></ion-icon>      
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-slides mode="ios" pager="ios" scrollbar="ios" [options]="slideOpts">
  <ion-slide>
         <img src="{{url}}" alt="">
  </ion-slide>
</ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar>
  </ion-toolbar>
</ion-footer>
