ion-header{
  background: #ffe400 ;

}
ion-content{
  ion-slides{
      height: calc(100vh - 56px);
      ion-slide{
       display: flex;
       align-items: flex-start;
       padding-top: 20px;
      }
  }
}

ion-footer{
  background-color: white;
  ion-toolbar{
      --background: transparent;
      --border-width: 0px;

  }
}