<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content  [scrollEvents]="true">
  <ion-grid fixed>
   <!-- Popular Catalogs -->
   <ion-row class="popular-row">
     <ion-col size="11">
       <ion-slides mode="ios"  pager="ios" [options]="slideOpts">
         <ion-slide *ngFor="let item of popularCatalogs">
            <ion-card (click)="openCatViewModal(item)" class="popular-row-card">
              <div class="badge-expire">
                <ion-badge mode="ios" color="dark" slot="warning" *ngIf="item.status === 'Expires'"
                    class="animated infinite pulse" >{{'expiresSoon.word'| translate }}</ion-badge>
              </div> 
              <div class="badge-new">
                <ion-badge mode="ios" color="warning" slot="warning" *ngIf="item.status === 'New'"
                    class="animated infinite pulse" >{{'newCatalog.word'| translate }}</ion-badge>
              </div> 
              <img class="popular-row-image" src="{{item.URL}}" alt="">
            </ion-card>
         </ion-slide>
       </ion-slides>
     </ion-col>
   </ion-row> 

   <!-- All Catalogs -->
    <ion-row class="catalog-row" *ngIf="allCatalogs && allCatalogs.length > 0">
     <ion-col size-xs="6"  size-sm ="4"  size-md="4" size-lg="4"  size-xl="6" *ngFor="let item of allCatalogs">
      <ion-card (click)="openCatViewModal(item)" class="card">
        <div class="badge-new">
          <ion-badge mode="ios" color="warning" slot="end" *ngIf="item.status === 'New'"
            class="animated infinite pulse" >{{'newCatalog.word' | translate}}</ion-badge>
        </div> 
        <div class="badge-expire">
          <ion-badge mode="ios" color="dark" slot="warning" *ngIf="item.status === 'Expires'"
              class="animated infinite pulse" >{{'expiresSoon.word'| translate }}</ion-badge>
        </div>     
       <ion-card-header>
        <img class="catalog-row-image" src="{{item.URL}}"/> 
       </ion-card-header>
       <ion-card-content>
         <ion-title>{{item.Name}}</ion-title>
         <div class="catalog-likes">
           <p>{{item.Likes}}</p>
          <ion-icon slot="start" name="heart" color="warning"></ion-icon>
         </div>
       </ion-card-content>
      </ion-card>
     </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

