
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ion-header{
    background-color: #ffe400;

    ion-toolbar{
        --background: transparent;
    }

    ion-button{
        --background: transparent;
        --box-shadow: none;
        --border-color: transparent;
        --ripple-color: transparent;
        
        ion-icon{
            color: white;
        }

    }
}

ion-content{
    ion-grid{
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;

        /* Popular row */
        .popular-row{
            justify-content: center;
            ion-col{
                /* ... POPULAR SLIDES ... */
                 ion-slides{
                     padding-top: 10px;
                     --bullet-background-active: #ffce0f;
                     --bullet-background: black;
                     ion-slide{
                         height: 100%;
                             ion-card{
                                 background-color: transparent;
                             }  
                     }
                 }
             }
        }

    
        /* Catalog row */
        .catalog-row{
            padding: 0px;
            ion-col{
                padding: 0px;
                ion-card{
                    background-color: transparent;
                    ion-card-header{
                        padding: 0px;
                    }
                    ion-card-content{
                        padding: 0px;
                        color: #999999;
                        display: flex;
                        flex-direction: row-reverse;
                        ion-title{
                            padding-right: 0px;
                            text-align: left;
                            padding-bottom: 4px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                        .catalog-likes{
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }
}



/*  ........................................SCREEN SIZE WIDTH 1000PX - 1200PX .............................................. */
@media screen and (min-width: 1001px) and (max-width: 1200px) {
    ion-header{
        ion-toolbar{
            --min-height: 10vh;
        }
    }

    /* Catalog card */
    .card{
        height: 500px;
        img{
            height: 440px;
            width: 100%;
        }
        ion-card-content{
            height: 60px;
            ion-title{
                padding-left: 10px;
                width: 60%;
                font-size: 30px;
            }
           
             .catalog-likes{
                width: 40%;
                padding-right: 6px;
                p {
                    font-size: 26px;
                    padding-right: 4px;
                    line-height: 60px;
                }
                ion-icon{
                    height: 60px;
                    width: 34px;
                    padding-left: 4px;
                    line-height: 60px;
                }
            }
        }
    }

      /* ......POPULAR ROW...... */
        .popular-row{
            margin: 40px 0px;
            ion-slides{
                padding-bottom: 35px;
            }
            /* ION CARDS IN POPULAR ROW */
            .popular-row-card{
                min-width: 412px;
                /* IMAGE IN ION CARD */
                .popular-row-image{
                    height: 600px;
                    width: 100%;
                }
            }
        }

}

/*  ........................................SCREEN SIZE WIDTH 701PX - 1000PX .............................................. */
@media screen and (min-width: 701px) and (max-width: 1000px) {
    ion-header{
        ion-toolbar{
            --min-height: 8vh;
        }
    }
    /* Catalog card */
    .card{
        height: 340px;
        img{
            height: 292px;
            width: 100%;
        }
        ion-card-content{
            height: 48px;
            ion-title{
                padding-left: 10px;
                width: 60%;
                font-size: 22px;
            }
           
             .catalog-likes{
                width: 40%;
                padding-right: 4px;
                p {
                    font-size: 22px;
                    padding-right: 4px;
                    line-height: 48px;
                }
                ion-icon{
                    height: 48px;
                    width: 28px;
                    padding-left: 0px;
                    line-height: 60px;
                }
            }
        }
    }

    /* ......POPULAR ROW...... */
    .popular-row{
        margin: 40px 0px;
        ion-slides{
            padding-bottom: 35px;
        }
        /* ION CARDS IN POPULAR ROW */
        .popular-row-card{
            min-width: 360px;
            /* IMAGE IN ION CARD */
            .popular-row-image{
                height: 480px;
                width: 100%;
            }
        }
    }
}

/*  ........................................SCREEN SIZE WIDTH 401 PX - 700 PX.............................................. */
@media screen and (min-width: 401px) and (max-width: 700px)  {
    ion-header{
        ion-toolbar{
            --min-height: 8vh;
        }
    }

    /* Catalog card */
    .card{
        height: 250px;
        margin: 20px;
        img{
            height: 210px;
            width: 100%;
        }
        ion-card-content{
            height: 40px;
            ion-title{
                padding-left: 6px;
                width: 60%;
                font-size: 16px;
                line-height: 40px;
            }
           
             .catalog-likes{
                width: 40%;
                padding-right: 4px;
                p {
                    font-size: 16px;
                    padding-right: 4px;
                    line-height: 36px;
                }
                ion-icon{
                    height: 36px;
                    width: 20px;
                    padding-left: 0px;
                    line-height: 36px;
                }
            }
        }
    }

    /* ......POPULAR ROW...... */
    .popular-row{
        margin: 30px 0px;
        ion-slides{
            padding-bottom: 35px;
        }
        /* ION CARDS IN POPULAR ROW */
        .popular-row-card{
            min-width: 190px;
            /* IMAGE IN ION CARD */
            .popular-row-image{
                height: 260px;
                width: 100%;
            }
        }
    }
}

/*  ........................................SCREEN SIZE WIDTH 349 PX - 400 PX.............................................. */
@media screen and (min-width: 349px) and (max-width: 400px)  {
    ion-header{
        ion-toolbar{
            --min-height: 8vh;
        }
    }

      /* Catalog card */
      .card{
        height: 230px;
        margin: 14px;
        img{
            height: 195px;
            width: 100%;
        }
        ion-card-content{
            height: 35px;
            ion-title{
                padding-left: 10px;
                width: 60%;
                font-size: 15px;
                line-height: 35px;
            }
           
             .catalog-likes{
                width: 40%;
                padding-right: 4px;
                p {
                    font-size: 15px;
                    padding-right: 4px;
                    line-height: 31px;
                }
                ion-icon{
                    height: 31px;
                    width: 18px;
                    padding-left: 0px;
                    line-height: 31px;
                }
            }
        }
    }

    /* ......POPULAR ROW...... */
    .popular-row{
        margin: 20px 0px;
        ion-slides{
            padding-bottom: 35px;
        }
        /* ION CARDS IN POPULAR ROW */
        .popular-row-card{
            min-width: 180px;
            /* IMAGE IN ION CARD */
            .popular-row-image{
                height: 260px;
                width: 100%;
            }
        }
    }
}


/*  ........................................SCREEN SIZE WIDTH 200 PX - 348 PX.............................................. */
@media screen and (min-width: 200px) and (max-width: 348px) {
    ion-header{
        ion-toolbar{
            --min-height: 8vh;
        }
    }

      /* Catalog card */
      .card{
        height: 200px;
        margin: 14px;
        img{
            height: 170px;
            width: 100%;
        }
        ion-card-content{
            height: 30px;
            ion-title{
                padding-left: 5px;
                width: 60%;
                font-size: 11px;
                line-height: 30px;
            }
           
             .catalog-likes{
                width: 40%;
                padding-right: 4px;
                p {
                    font-size: 11px;
                    padding-right: 2px;
                    line-height: 26px;
                }
                ion-icon{
                    height: 26px;
                    width: 14px;
                    padding-left: 0px;
                    line-height: 26px;
                }
            }
        }
    }

    /* ......POPULAR ROW...... */
    .popular-row{
        margin: 24px 0px;
        /* ION CARDS IN POPULAR ROW */
        ion-slides {
            padding-bottom: 25px;
        }
        .popular-row-card{
            min-width: 170px;
            /* IMAGE IN ION CARD */
            .popular-row-image{
                height: 240px;
                width: 100%;
            }
        }
    }
}



/*  .....................IPHONE 11 PRO MAX, IPHONE 11 WIDTH: 414 PX -  HEIGHT:896PX.......................................... */

 /* Special case for iphone 11 because of the layout */
 @media screen and (width: 414px) and (height: 896px) {

    ion-footer{
        height: 68px;
    }
 }


/*  .....................IPHONE 11 PRO , IPHONE 11 WIDTH: 375PX -  HEIGHT:812PX.......................................... */

 /* Special case for iphone 11 because of the layout */
 @media screen and (width: 375px) and (height: 812px) {

    ion-footer{
        height: 68px;
    }
 }